.team {
  display: flex;
  padding: 80px 115px;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 33%;
  margin: 15px 0;
}

.team-image {
  height: 140px;
  width: 140px;
  margin-bottom: 15px;
  &:hover {
    animation: twist 1s ease forwards;
  }
}

.team-text {
  max-width: 160px;
  text-align: center;
  margin: 0;
}



@keyframes twist {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0);
  }
}
