<div class="header">
  <a class="home-link" href="/#"><div ng-click="headerCtrl.scrollToTop()" class="logo" ng-include="'assets/petbot-logo-dark.svg'"></div></a>
  <a class="menu-links" href="/team">Team</a>
  <a class="menu-links" href="/press">Press</a>
  <a class="menu-links" href="/setup">Setup</a>
  <a class="menu-links" href="https://petbot.ca/petbot-webportal/">Web Portal</a>
  <p-button
    content="PRE-ORDER NOW"
    type="cta"
    ng-if="headerCtrl.hideCta === 'false'"
  ></p-button>
  <social-media
    ng-if="headerCtrl.hideCta==='true'"
  ></social-media>
</div>
