<header hide-cta="true"></header>
<div class="page-container">
  <div class='setup'>
    <h1 class='setupTitle'>SETUP GUIDE</h1>
    <h3 class='setupTitle break'>Status of PetBot Services</h3>
    <p>Listed below are PetBot's services and their current status.</p>
    <table class='setupStatusTable'>
      <tr class="setupStatusTableRow">
        <td>Petbot iOS:</td>
        <td class="statusGood">UP and available <a href="https://itunes.apple.com/us/app/petbot/id887670551?mt=8" target="_blank">here</a></td>
      </tr>
      <tr class="setupStatusTableRow">
        <td>Petbot Android:</td>
        <td class="statusGood">UP and available <a href="https://play.google.com/store/apps/details?id=com.atos.petbot" target="_blank">here</a></td>
      </tr>
      <tr class="setupStatusTableRow">
        <td>Petbot Web Portal:</td>
        <td class="statusGood">UP and available <a href="https://petbot.ca/petbot-webportal/" target="_blank">here</a></td>
      </tr>
      <tr class="setupStatusTableRow">
        <td>Petbot Servers:</td>
        <td class="statusGood">UP - intermittent issues as first PetBots come online</td>
      </tr>
    </table>
    <h3 class='setupTitle break'>Videos</h3>
    <iframe class="iframe-videos" src="https://www.youtube.com/embed/i8jlLrjglVM" frameborder="0" allowfullscreen></iframe>
    <iframe class="iframe-videos" src="https://www.youtube.com/embed/sPyiKyilt9k" frameborder="0" allowfullscreen></iframe>
    <iframe class="iframe-videos" src="https://www.youtube.com/embed/8xDljK25eww" frameborder="0" allowfullscreen></iframe>
    <iframe class="iframe-videos" src="https://www.youtube.com/embed/Pu2KNzJ6ScE" frameborder="0" allowfullscreen></iframe>
    <h3 class='setupTitle break'>FAQ</h3>
      <input
        class="searchbar"
        type="text"
        placeholder="Filter FAQs"
        ng-model="setupPageCtrl.search"
      />
      <select
        placeholder="Filter FAQ Topics"
        ng-options="faq.type for faq in setupPageCtrl.faqs | unique:'type'"
        ng-model="setupPageCtrl.dropdown"
        ng-change="setupPageCtrl.search = setupPageCtrl.dropdown.type"
      ></select>
      <div ng-repeat="faq in setupPageCtrl.faqs | filter:setupPageCtrl.search">
        <span class="question"><div class="questionmark" ng-include="'assets/question-02.svg'"></div>
          {{faq.question}}
        </span>
        <span class="questionAnswer">
          {{faq.answer}}
        </span>
      </div>
  </div>
</div>
