<div class="sellPetbot">
  <div class="sellpetbot-image section"></div>
  <div class="petbot-content section">
    <h1 class="sellPetbot-title">We get it. You feel guilty leaving them.</h1>
    <p class="sellPetbot-desc">Need peace of mind for when you’ve left your pet alone? PetBot is the only Wi-Fi pet monitoring system that offers video/voice record, treat dispensing and adorable video selfies. Pre-order your PetBot now, available for a limited time.*</p>
    <small class="white"><i>*Pre-orders are expected to ship in May 2017.</i></small>
    <p class="caps white framed">Now At</p>
    <p class="sellpetbot-price">$199</p>

    <p class="caps white">Pre-Order Sale</p>
    <div class="counter-container">
      <div ng-repeat="number in sellPetbotCtrl.numbers track by $index">
        <h1 class="counter-number">{{number}}</h1>
      </div>
    </div>
    <p class="caps white">Days left to order</p>

    <div class="cta-wrapper">
      <p-button
        content="PRE-ORDER NOW"
        type="cta"
      ></p-button>
    </div>
  </div>
</div>
