.features {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  justify-content: center;
}

.features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 33%;
}

.feature-image {
  height: 120px;
  width: 120px;
  &:hover {
    animation: twist 1s ease forwards;
  }
  @media (max-width: 800px) {
    height: 90px;
    width: 90px;
  }
}

.feature-text {
  max-width: 160px;
  text-align: center;
  @media (max-width: 800px) {
    max-width: 100px;
  }
}

.content-icon-stroke {
  stroke: $font-color;
}

@keyframes twist {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0);
  }
}
