.pressHeader {
  height: 60px;
  background-color: $brand;
}

.pressKit {
  max-width: 750px;
  margin: 0 auto 100px auto;
}

.pressTitle {
  font-weight: 900px;
  color: $brand;
}

.presslogo {
  width: 250px;
}

.presspaw {
  width: 150px;
}

.break {
  margin-top: 50px;
  border-top: 3px solid;
  padding-top: 20px;
}
