.orderForm {
  max-width: 400px;
  margin: 0 auto;
}

.form-label {
  display: block;
  width: 100%;
}

.field-required {
  position: absolute;
  font-size: 30px;
  right: -20px;
  line-height: 60px;
  color: $brand;
}

.form-input {
  width: 100%;
  padding: 10px;
  border-width: 0 0 5px 0;
  border-color: #eeeeee;
  transition: border-color 0.3s ease;
  font-size: 16px;
  &.ng-valid.ng-dirty {
    border-color: $brand;
  }
  &.ng-invalid.ng-dirty {
    border-color: red;
  }
}

.disclaimer {
  margin: 11px;
}

.form-input:focus {
  width: 100%;
  padding: 10px;
  border-width: 0 0 5px 0;
  border-color: #bfbfbf;
  outline: none;
}

.form-row {
  margin: 40px 0;
  position: relative;
}

.form-row-howmany {
  display: flex;
  justify-content: center;
}

.form-input-select {
  height: 30px;
  font-size: 16px;
  width: 50px;
}

.form-input-select-country {
  height: 30px;
  font-size: 16px;
  width: 200px;
  margin: 30px 100px;
}

.form-label-select {
  margin-right: 20px;
}

.total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

.discount {
  position: absolute;
  margin-top: 30px;
  width: 100%;
  font-size: small;
}

.form-button {
  padding: 0 40px;
  height: 40px;
  color: white;
  min-width: 150px;
  background-color: $brand;
  border: none;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  @media (max-width: 800px) {
    height: 30px;
    font-size: 10px;
    padding: 0 20px;
  }
  &[disabled] {
    opacity: 0.5;
    cursor: auto;
    pointer-events: none;
  }
}

.total-line {
  margin: 30px 0;
}

.shipping {
  margin: 0;
}
