<form
  controller="orderFormCtrl"
  name="orderForm"
  class="orderForm"
  id="payment-form"
>
  <div class="form-row-howmany">
    <label class="form-label-select howMany_label" for="howMany">How Many?</label>
    <select
      ng-model="data.howMany"
      class="form-input-select-howmany"
      ng-change="getTotal()"
      type="text"
      name="howMany"
      ng-options="amount for amount in amounts"
    >
    </select>
  </div>

  <div class="form-row">
    {{data.email.invalid}}
    <label
      class="form-label"
      for="firstName"></label>
    <input
      required
      ng-model="data.firstName"
      placeholder="First Name"
      class="form-input"
      type='text'
      pattern="[^<>;]+"
      name='firstName' />
    <label
      class="form-label"
      for="lastName"></label>
    <input
      required
      ng-model="data.lastName"
      placeholder="Last Name"
      class="form-input"
      type='text'
      pattern="[^<>;]+"
      name='lastName'/>
    <label
      class="form-label"
      for="email"></label>
    <input
      required
      ng-model="data.email"
      placeholder="Email"
      class="form-input"
      type='email'
      pattern="[\w.]+[@][\w.]+[.][\w]+"
      name='email'/>
    <label
      class="form-label"
      for="phone"></label>
    <input
      required
      ng-model="data.phone"
      placeholder="Phone"
      class="form-input"
      type='text'
      pattern="[0-9- ()]+"
      name='phone'/>
    <label
      class="form-label"
      for="referral"></label>
    <input
      ng-model="data.referral"
      placeholder="Referral"
      class="form-input"
      type='text'
      ng-blur="getTotal()"
      pattern="[^<>;]+"
      name='referral'/>
  </div>

  <div class="form-row">
    <label
      class="form-label"
      for="address"></label>
    <input
      required
      ng-model="data.address1"
      placeholder="Address"
      class="form-input"
      type='text'
      pattern="[^<>;]+"
      name='address1'/>
    <input
      ng-model="data.address2"
      placeholder="Address"
      class="form-input"
      pattern="[^<>;]*"
      type='text' name='address2'/>
    <label
      class="form-label"
      for="city"></label>
    <input
      required
      ng-model="data.city"
      placeholder="City"
      class="form-input"
      type='text'
      pattern="[^<>;]+"
      name='city'/>
    <label
      class="form-label"
      for="state"></label>
    <input
      required
      ng-model="data.state"
      placeholder="State/Province/Territory"
      class="form-input"
      pattern="[^<>;]+"
      type='text'
      name='state'/>
    <label
      class="form-label"
      for="zip"></label>
    <input
      required
      ng-model="data.zip"
      placeholder="Zip / Postal Code"
      class="form-input"
      type='text'
      pattern="[\w -]+"
      name='zip'/>
    <select
      required
      ng-model="data.country"
      class="form-input-select-country"
      name="country"
      ng-init="country = 'Canada'"
      ng-options="country for country in countries"
    >
    </select>
  </div>

  <div class="form-row">
    <label for="card-element">
      Credit or debit card
    </label>
    <div id="card-element"></div>
    <div id="card-errors"></div>
  </div>

  <div class="total" ng-if="status.gettingPrice">
    <p>Calulating Price... </p>
  </div>

  <div class="total" ng-if="!status.gettingPrice">
    <h4 class="shipping">x{{data.howMany}} PetBot</h4>
    <h4 class="shipping">+ ${{data.shipping}} shipping</h4>
    <h4 class="discount" ng-if="data.discount">-${{data.discount}} discount</h4>
    <h2 class="total-line">Your Total: ${{data.total}}</h2>
    <button
      ng-click="submitOrderForm()"
      ng-disabled="status.submitting || orderForm.$invalid || total === null || total === 'Error!'"
      class="form-button"
    >
      Submit Payment
    </button>
  </div>

  <small class="disclaimer">Trouble submitting, or need a bulk order? Email <info-link></info-link></small>
  <h4 id='error-content'></h4>

</form>
