<div class="testimonials-container">

  <h1 class="title white">Be a part of a pet care revolution.</h1>

  <div class="carosel-toggle-container">
    <div
      class="carosel-toggle"
      ng-repeat="testimonial in testimonialsController.testimonials track by $index"
      ng-click="testimonialsController.clicked($index)"
      >
      <div ng-class="[testimonialsController.index === $index ? 'toggle-circle selected' : 'toggle-circle']"></div>
    </div>
  </div>

  <div class="testimonial-carosel">
    <div
      class="testimonial-animate"
      ng-repeat="testimonial in testimonialsController.testimonials track by $index"
      ng-if="($index === testimonialsController.index) && (!testimonialsController.paused)"
    >
      <div class="testimonial-content-container">
        <p class="testimonial-quote">"</p>
        <p class="testimonial">{{testimonial.text}}</p>
        <p class="testimonial-quote">"</p>
      </div>
      <p class="author framed">
        <span class="caps">{{testimonial.name}},</span>
         from
        <span class="caps">{{testimonial.from}}</span>
      </p>
    </div>
  </div>


</div>
