.flex {
  display: flex;
}

.flex.row {
  flex-direction: row;
}

.flex.col {
  flex-direction: column;
}

.flex .halves {
  width: 50%;
}

.flex .thirds {
  width: 32%;
  padding: 0 30px 0 30px;
}

.flex-center {
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .flex.row {
    flex-direction: column;
    align-items: center;
  }
  .flex .halves {
    width: 80%;
  }
  .flex .thirds {
    width: 80%;
  }
}
