$brand: #4156d6;
$brand-accent: #fff764;
$brand-light: #f2f2f4;
$brand-dark: #2b2b2b;
$font-color: #525352;
$brand-cool-grey: #e3e5ea;

html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'PT Sans', sans-serif;
  color: $font-color;
}

.white {
  color: white;
}

button {
  font-family: 'PT Sans', sans-serif;
  color: $font-color;
}

.bold {
  font-weight: bold;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow:hidden;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.caps.white {
  color: white;
}

.caps {
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
}

.framed:before,
.framed:after {
  content: '';
  display: inline-block;
  width: 80px;
  height: 1px;
  position: relative;
  top: -4px;
  margin: 0 20px;
  background-color: $font-color;
  @media (max-width: 800px) {
    width: 40px;
  }
}

.framed.small:before,
.framed.small:after {
  width: 35px;
  margin: 0 10px;
}

.framed.white:before,
.framed.white:after {
  background-color: white;
}

@import "./flexbox";
@import "./typography";

@import "./app/components/BigVideo/BigVideo";
@import "./app/components/EmailForm/EmailForm";
@import "./app/components/footer/footer";
@import "./app/components/header/header";
@import "./app/components/news-carosel/news-carosel";
@import "./app/components/socialMedia/socialMedia";
@import "./app/components/features/features";
@import "./app/components/sellPetbot/sellPetbot";
@import "./app/components/heroImage/heroImage";
@import "./app/components/textComponent/textComponent";
@import "./app/components/button/button";
@import "./app/components/selfie-testimonials/selfie-testimonials";
@import "./app/components/team/team";
@import "./app/components/specs/specs";

@import "./app/directives/tryItOut/tryItOut";
@import "./app/directives/orderForm/orderForm";

@import "./app/pages/PressKitPage/PressKitPage";
@import "./app/pages/ThanksPage/ThanksPage";
@import "./app/pages/SetupPage/SetupPage";
@import "./app/pages/PreCampaignPage/PreCampaignPage";
@import "./app/pages/TeamPage/TeamPage";
@import "./app/pages/CrowdfundingPage/CrowdfundingPage";
@import "./app/pages/OrderFormPage/OrderFormPage";
