<div class="specs">
  <h1>How does it work?</h1>
  <div class="specs-content">
    <div class="specs-content-item">
      <div class="specs-content-icon" ng-include="'./assets/icons_specs-01.svg'"></div>
      <p>Place your PetBot somewhere your pet can access, and fill it with their favorite treats.</p>
    </div>
    <div class="specs-content-item">
      <div class="specs-content-icon" ng-include="'./assets/icons_specs-02.svg'"></div>
      <p>Quick-response motion sensors will recognize your pet’s adorable face and automatically dispense a treat.</p>
    </div>
    <div class="specs-content-item">
      <div class="specs-content-icon" ng-include="'./assets/icons_specs-04.svg'"></div>
      <p>Meanwhile the high-resolution camera records the cutest selfie of your pet getting super excited.</p>
    </div>
    <div class="specs-content-item">
      <div class="specs-content-icon" ng-include="'./assets/icons_specs-03.svg'"></div>
      <p>You check your notifications, say “awwww”, and post the selfie to social media.</p>
    </div>
  </div>
  <h2>More good stuff:</h2>
  <p>Easy refills<span class="specs-divider">|</span>Compact in size<span class="specs-divider">|</span>Wall mountable<span class="specs-divider">|</span>No battery<span class="specs-divider">|</span>Wifi compatible</p>
</div>
