<div class="specs">
  <h1>How does it work?</h1>
  <p>Place your PetBot somewhere where your pet can access treats</p>
  <p>Fill it with your pet’s favorite treats</p>
  <p>Quick-response motion sensors recognize your pet’s adorable face</p>
  <p>You check your pocket</p>
  <p>PetBot automatically dispenses a treat, meanwhile the high-resolution camera shows you a video of your pet getting super excited</p>
  <p>And takes the cutest video selfie</p>
  <p>You say “awwww” and immediately post the selfie to social</p>
  <h2>More good stuff:</h2>
  <p>Easy refills | Compact in size | Wall mountable | No battery | Wifi compatible</p>
</div>
